{% extends 'news/base.html' %}
{% load staticfiles %}

{% block title %}{{news.title}}{% endblock %}

{% block side_block %}

<span>热门点击</span>
<ul class="nav nav-sidebar">
	{% if hot_news %}
	{% for h in hot_news %}
	<li><a href="{% url 'news:news' %}?id={{h.id}}">{{ h.title }}<span class="badge" style="float: right;">{{h.views}}次</span></a></li>
	{% endfor %}
	<li><a href="#">更多...</a></li>
	{% else %}
	<li> <strong >没有相关新闻.</strong></li>
	{% endif %}
</ul>

<span>热门评论</span>
<ul class="nav nav-sidebar">
	{% if favorite_news %}
	{% for f in favorite_news %}
	<li><a href="{% url 'news:news' %}?id={{f.id}}">{{ f.title }}<span  class="badge" style="float: right;">{{f.comments}}次</span></a></li>
	{% endfor %}
	<li><a href="#">更多...</a></li>
	{% else %}
	<li> <strong >没有相关新闻.</strong></li>
	{% endif %}
</ul>

{% endblock %}


{% block body_block %}

<div class="col-md-12">
	{% if news %}
	<div id="news-container" class="col-md-8" style="border: thin solid rgba(0,0,0,0.2);padding:1%">
		<div class="col-md-12" style="float:left;margin-left:0px;">
			<h2 style="margin-top:0px;text-align: center">{{news.title}}</h2>
			<hr />
			<p style="text-indent: 0em;text-align: center;"><span>时间:{{news.pub_date}}</span><span style="margin-left:10px">来源:{{news.source}}</span><span style="margin-left:10px">作者:{{news.author}}</span><span style="margin-left:10px">阅读:{{news.views}}次</span><span style="margin-left:10px">评论:{{news.comments}}次</span></p>
			<div class="col-md-12" id="news-content">
				{{news.content|safe}}
			</div>
		</div>
	</div>

	<div id="relative-news-container" class="col-md-3" style="text-align:center;float:right;border: thin solid rgba(0,0,0,0.2);padding:1%">

		<span>猜你喜欢</span>
		{% if guess_you_like %}
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
			<div class="carousel-inner" role="listbox">
				{% for news in guess_you_like %}
				{% ifequal forloop.counter 1 %}
				<div class="item active">
					{% else %}
					<div class="item">
						{% endifequal %}
						<a href="{% url 'news:news' %}?id={{news.id}}">
							<img style="width:320px;height:180px;" src="/{{news.picture}}" alt="{{news.title}}">
							<span style="text-align: left;" href="{% url 'news:news' %}?id={{news.id}}">{{news.title}}</span>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
			{% else %}
			<br />
			<strong >没有相关新闻.</strong>
			{% endif %}

			<hr />

			<span>同类新闻</span>
			{% if relative_news %}
			<div class="col-md-12" style="text-align: left;">
				<ul class="nav nav-sidebar">
					{% for r in relative_news %}
					<li><a href="{% url 'news:news' %}?id={{r.id}}">{{ r.title }}</a></li>
					{% endfor %}
					<li><a href="#">更多...</a></li>
				</ul>			
			</div>
			{% else %}
			<br />
			<strong>没有相关新闻.</strong>
			{% endif %}	
		</div>
		{% else %}
		<h1>404错误,请返回首页!</h1>
		{% endif %}
	</div>
</div>
<div class="btn-group" role="group" aria-label="..." style="position: fixed;bottom:50px;right:50px">
	<a class="btn btn-default btn-primary" href="#body"><span class="glyphicon glyphicon-arrow-up"></span> 返回顶部</a>
</div>
<div class="col-md-12">

	<div id="comments-container" class="col-md-8" style="margin-top:20px;border: thin solid rgba(0,0,0,0.2);padding:1%">
		<h2>评论区</h2>
		<hr />

		<!-- sample No reply-->
		<div class="col-md-12" style="float:left;margin-top:10px;margin-left:0px;border: thin solid rgba(0,0,0,0.2);padding:1%">
			<div class="col-md-2" style="margin-top:0px;border: thin solid rgba(0,0,0,0.2);padding:1%">
				<img src="{% static 'favicon.ico' %}" style="width:100%" alt="#" />
			</div>
			<div class="col-md-10" style="float:left;margin-left:0px;">
				<h3 style="margin-top:0px"><a href="#"><span>DAVID</span></a><span style="float:right;font-size: 15px;">2015年10月14日 23:43</span></h3>
				<div class="col-md-12" style="padding:0px;margin-top:10px;margin-bottom:10px;">
				<p style="margin-top:0px">英国女王至今已主持过110场白金汉宫的国宴。据了解，准备国宴也是一件非常复杂繁琐的工程，大约要花费10天的时间。餐桌上摆放的每套餐具之间必须精确相差46厘米，整场国宴要用去1104个玻璃杯，每位客人可拥有一套6件玻璃杯，分</p>
				</div>
				<p style="float:right;font-size: 20px;">
					<button type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-thumbs-up" ></span>
						点赞
					</button>
					<button type="button" class="btn btn-primary" style="margin-left:20px;">
						<span class="glyphicon glyphicon-share"></span>
						回复
					</button>
				</p>
			</div>
		</div>
		<!-- sample over -->

		<!-- sample Reply-->
		<div class="col-md-12" style="float:left;margin-top:10px;margin-left:0px;border: thin solid rgba(0,0,0,0.2);padding:1%">
			<div class="col-md-2" style="margin-top:0px;border: thin solid rgba(0,0,0,0.2);padding:1%">
				<img src="{% static 'favicon.ico' %}" style="width:100%" alt="#" />
			</div>
			<div class="col-md-10" style="float:left;margin-left:0px;">
				<h3 style="margin-top:0px"><a href="#"><span>DAVID</span></a><span style="float:right;font-size: 15px;">2015年10月15日 11:06</span></h3>
				<!-- Reply content -->
				<div class="col-md-12" style="margin-top:10px;margin-left:0px;border: thin solid rgba(0,0,0,0.2);padding:1%">
				<p style="margin-top:0px"><a href="#"><span>DAVID</span></a><span style="float:right;font-size: 15px;">2015年10月14日 23:43</span></p>
				<p style="margin-top:0px">在酒水方面，报道称女王不喝酒，中方对酒也没有作明确要求，所以酒不能太过讲究也不能太过寒酸。此外，中方还会自己准备饮用水。报道还称餐后甜点是巧克力布丁，将会被制作成制服纽扣的形状，上面撒满金粉。</p>
				</div>
				<div class="col-md-12" style="padding:0px;margin-top:10px;margin-bottom:10px;">
				<!-- Reply content over -->
				<p style="margin-top:0px">英国女王至今已主持过110场白金汉宫的国宴。据了解，准备国宴也是一件非常复杂繁琐的工程，大约要花费10天的时间。餐桌上摆放的每套餐具之间必须精确相差46厘米，整场国宴要用去1104个玻璃杯，每位客人可拥有一套6件玻璃杯，分</p>
				</div>
				<p style="float:right;font-size: 20px;">
					<button type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-thumbs-up" ></span>
						点赞
					</button>
					<button type="button" class="btn btn-primary" style="margin-left:20px;">
						<span class="glyphicon glyphicon-share"></span>
						回复
					</button>
				</p>
			</div>
		</div>
		<!-- sample over -->
	</div>
</div>


{% endblock %}