{% extends 'news/base.html' %}
{% load staticfiles %}

{% block title %}{{news.title}}{% endblock %}

{% block side_block %}

<span>热门点击</span>
<ul class="nav nav-sidebar">
	{% if hot_news %}
	{% for h in hot_news %}
	<li><a href="{% url 'news:news' %}?id={{h.id}}">{{ h.title }}<span class="badge" style="float: right;">{{h.views}}次</span></a></li>
	{% endfor %}
	<li><a href="#">更多...</a></li>
	{% else %}
	<li> <strong >没有相关新闻.</strong></li>
	{% endif %}
</ul>

<span>热门评论</span>
<ul class="nav nav-sidebar">
	{% if favorite_news %}
	{% for f in favorite_news %}
	<li><a href="{% url 'news:news' %}?id={{f.id}}">{{ f.title }}<span  class="badge" style="float: right;">{{f.comments}}次</span></a></li>
	{% endfor %}
	<li><a href="#">更多...</a></li>
	{% else %}
	<li> <strong >没有相关新闻.</strong></li>
	{% endif %}
</ul>

{% endblock %}


{% block body_block %}

<div class="col-md-12 col-xs-12">
	{% if news %}
	<div id="news-container" data-news-id="{{news.id}}" class="col-md-8 col-xs-12" style="border: thin solid rgba(0,0,0,0.2);padding:1%">
		<div class="col-md-12 col-xs-12" style="float:left;margin-left:0px;">
			<h2 style="margin-top:0px;text-align: center">{{news.title}}</h2>
			<hr />
			<p style="text-indent: 0em;text-align: center;"><span>时间:{{news.pub_date}}</span><span style="margin-left:10px">来源:{{news.source}}</span><span style="margin-left:10px">作者:{{news.author}}</span><span style="margin-left:10px">阅读:{{news.views}}次</span><span style="margin-left:10px">评论:{{news.comments}}次</span></p>
			<div class="col-md-12 col-xs-12" id="news-content" style="overflow:auto;">
				{{news.content|safe}}
			</div>
		</div>
	</div>

	<div id="relative-news-container" class="col-md-3 hidden-xs" style="text-align:center;float:right;border: thin solid rgba(0,0,0,0.2);padding:1%">

		<span>猜你喜欢</span>
		{% if guess_you_like %}
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
			<div class="carousel-inner" role="listbox">
				{% for news in guess_you_like %}
				{% ifequal forloop.counter 1 %}
				<div class="item active">
					{% else %}
					<div class="item">
						{% endifequal %}
						<a href="{% url 'news:news' %}?id={{news.id}}">
							<img style="width:320px;height:180px;" src="/{{news.picture}}" alt="{{news.title}}">
							<span style="text-align: left;" href="{% url 'news:news' %}?id={{news.id}}">{{news.title}}</span>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
			{% else %}
			<br />
			<strong >没有相关新闻.</strong>
			{% endif %}

			<hr />

			<span>同类新闻</span>
			{% if relative_news %}
			<div class="col-md-12" style="text-align: left;">
				<ul class="nav nav-sidebar">
					{% for r in relative_news %}
					<li><a href="{% url 'news:news' %}?id={{r.id}}">{{ r.title }}</a></li>
					{% endfor %}
					<li><a href="{% url 'news:category' %}?news_type={{news.news_type}}">更多...</a></li>
				</ul>			
			</div>
			{% else %}
			<br />
			<strong>没有相关新闻.</strong>
			{% endif %}	
		</div>
		{% else %}
		<h1>404错误,请返回首页!</h1>
		{% endif %}
	</div>
</div>
<div class="btn-group hidden-xs" role="group" aria-label="..." style="position: fixed;bottom:50px;right:50px;z-index: 100">
	<a class="btn btn-default btn-primary" href="#body"><span class="glyphicon glyphicon-arrow-up"></span> 返回顶部</a>
</div>
<div class="col-md-12 col-xs-12">

	<div id="comments-container" class="col-md-8 col-xs-12" style="margin-top:20px;border: thin solid rgba(0,0,0,0.2);padding:1%">
		<h2>评论区</h2>
		<hr />
		{% if comments %}
		<div class="col-md-10 col-xs-12">
			<nav style="float:left;">
				<ul id="comments_list" class="pagination" data-count="{{comments_count}}" style="margin: auto">
					

					<li id="comments_page_first" >
						<a onclick="comments_page_change('first')" aria-label="First">
							<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
						</a>
					</li>
					<li id="comments_page_previous">
						<a onclick="comments_page_change('previous')" aria-label="Previous">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						</a>
					</li>
					<li id="comments_page_next">
						<a onclick="comments_page_change('next')" aria-label="Next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</a>
					</li>
					<li id="comments_page_last">
						<a onclick="comments_page_change('last')"  aria-label="Last">
							<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
						</a>
					</li>
				</ul>
			</nav>

			
		</div>
		{% if user.is_authenticated %}
		<button id="create_a_comment_0" type="button" class="btn btn-default btn-primary" onclick="comment(0)" style="float:right;">发表评论</button>
		<div class="col-md-12 col-xs-12" style="margin-bottom:20px;">
			<div id="comment_content_0" class="col-md-12 col-xs-12 comment_content" style="margin:10px;margin-bottom:20px;height:100px">
				<label for="comment_input">评论内容：</label>
				<textarea id="comment_input_0" class="form-control" rows="3" style="resize:none" onkeyup="checkReplyContent(0,0)"></textarea>
				<div class="form-group" style="text-align: right;margin-top:10px;">
					<label id="charslabel_0" style="">还可以输入<span id="chars">120</span>字</label>
					<button type="button" class="btn btn-default btn-info" onclick="submitComment(0)"><span class="glyphicon glyphicon-ok"></span> 提交</button>
				</div>
			</div>
		</div>
		{% else %}
		<span style="float:right">您必须<a href="#">登录</a>后才能进行评论</span>
		{% endif %}
		{% for comment in comments %}
		<!-- comment -->
		<div id="comment_{{forloop.counter}}" class="col-md-12 col-xs-12 comment" style="float:left;margin-top:10px;margin-left:0px;border: thin solid rgba(0,0,0,0.2);padding:1%">
			<div class="col-md-2 hidden-xs" style="margin-top:0px;border: thin solid rgba(0,0,0,0.2);padding:1%">
				<img src="{% static 'favicon.ico' %}" style="width:100%" alt="#" />
			</div>
			<div class="col-md-10 col-xs-12" style="float:left;margin-left:0px;">
				<h3 style="margin-top:0px"><a href="#"><span>{{comment.author}}</span></a><span style="float:right;font-size: 15px;">{{comment.pub_date}}</span></h3>
				<!-- Reply content -->
				{% if comment.reply_to %}
				<div class="col-md-12 col-xs-12" style="margin-top:10px;margin-left:0px;border: thin solid rgba(0,0,0,0.2);padding:1%">
					<p style="margin-top:0px"><a href="#"><span>{{comment.reply_to.author}}</span></a><span style="float:right;font-size: 15px;">{{comment.reply_to.pub_date}}</span></p>
					<p style="margin-top:0px">{{comment.reply_to.content}}</p>
				</div>
				{% endif %}
				<!-- Reply content over -->
				<div class="col-md-12 col-xs-12" style="padding:0px;margin-top:10px;margin-bottom:10px;">
					<p style="margin-top:0px;word-break:break-word;">{{comment.content}}</p>
				</div>
				{% if user.is_authenticated %}
				<p style="float:right;font-size: 20px;">
					<button id="voteup_{{comment.id}}" type="button" class="btn btn-primary" onclick="voteup({{comment.id}})">
						<span class="glyphicon glyphicon-thumbs-up" ></span>
						{{comment.vote_ups}}
					</button>
					<button id="create_a_comment_{{comment.id}}" type="button" class="btn btn-primary" style="margin-left:20px;" onclick="comment({{comment.id}})">
						<span class="glyphicon glyphicon-share"></span>
						回复
					</button>
					<div class="col-md-12" style="margin-bottom:20px;">
						<div id="comment_content_{{comment.id}}" class="col-md-12 comment_content" style="margin:10px;margin-bottom:20px;height:100px">
							<label for="comment_input">评论内容：</label>
							<textarea id="comment_input_{{comment.id}}" class="form-control" rows="3" style="resize:none" onkeyup="checkReplyContent({{comment.id}})"></textarea>
							<div class="form-group" style="text-align: right;margin-top:10px;">
								<label id="charslabel_{{comment.id}}" style="">还可以输入<span id="chars">120</span>字</label>
								<button type="button" class="btn btn-default btn-info" onclick="submitComment({{comment.id}})"><span class="glyphicon glyphicon-ok"></span> 提交</button>
							</div>
						</div>
					</div>
				</p>
				{% endif %}
			</div>
		</div>
		<!-- comment over -->
		{% endfor %}

		{% else %}
		{% if user.is_authenticated %}
		<button id="create_a_comment_0" type="button" class="btn btn-default btn-primary" onclick="comment(0)" style="float:right;">发表评论</button>
		<div class="col-md-12 col-xs-12" style="margin-bottom:20px;">
			<div id="no_comments" style="text-align:center;margin:48.5px;">
				<h2>暂无评论</h2>
			</div>
			<div id="comment_content_0" class="col-md-12 comment_content" style="margin:10px;margin-bottom:20px;height:100px">
				<label for="comment_input">评论内容：</label>
				<textarea id="comment_input_0" class="form-control" rows="3" style="resize:none" onkeyup="checkReplyContent(0,0)"></textarea>
				<div class="form-group" style="text-align: right;margin-top:10px;">
					<label id="charslabel_0" style="">还可以输入<span id="chars">120</span>字</label>
					<button type="button" class="btn btn-default btn-info" onclick="submitComment(0)"><span class="glyphicon glyphicon-ok"></span> 提交</button>
				</div>
			</div>
		</div>
		{% else %}
		<span style="float:right">您必须<a href="#">登录</a>后才能进行评论</span>
		{% endif %}


		{% endif %}
	</div>
</div>


{% endblock %}